@import './theme/colors';
@import './theme/resets';
@import './theme/typography';

.section {
  padding: 50px 0;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.canhighlight:hover {
  background-color: rgba(33, 33, 33, 0.2);
}

mark {
  background-color: rgba(101, 255, 108, 0.4);
}
